<!doctype html>
<html lang="ko" >
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/css/button.css}" />
    <link rel="stylesheet" th:href="@{/css/subscribe.css}" />
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/content.css}" />

    <!-- Plugin -->
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" />
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
<!--    팝업창 여는 js , api 호출 함수있는 js -->
    <script src="/js/common.js" ></script>
    <script src="/js/function.js" ></script>


    <!-- 폰트어썸 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>



<body>

<div class="min-h-screen flex flex-col">
    <header>
        <div class="navbar bg-base-100">
            <div style="padding-left:0px;" class="navbar-start">
                <div class="dropdown">
                    <label tabindex="0" class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 6h16M4 12h16M4 18h7"/>
                        </svg>
                    </label>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                        <li>
                            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}"><i
                                    class="fa-solid fa-arrow-right-to-bracket"></i>로그인</a>
                            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}"><i
                                    class="fa-solid fa-arrow-right-to-bracket"></i>로그아웃</a>
                        </li>
                        <!--                        <li th:unless="${#authorization.expression('isAuthenticated()')}">-->
                        <!--                            <a href="/user/signup"><i class="fa-solid fa-user-plus"></i> 회원가입</a>-->
                        <!--                        </li>-->

                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a href="/user/myPage"><i class="fa-solid fa-user"></i>마이 페이지</a>
                        <li class="nav-item" sec:authorize="isAuthenticated()">

                        </li>



                    </ul>
                </div>
            </div>
            <div class="navbar-center">
                <a th:href="@{/}" style="font-size:30px;" class="btn btn-ghost normal-case text-xl">DNW</a>
            </div>


            <div   style="padding-right:0px; font-size:20px;" class="navbar-end" >
<!--                <div th:if="${@rq.login}">-->
<!--                    <span class="userIdDiv"  th:text="${@rq.user.userName}"></span>-->
<!--                    <span>님 환영합니다!</span>-->
<!--                </div>-->

            </div>

        </div>

        <th:block layout:fragment="content"></th:block>


</header>
</div>
</body>

<style>
    body {
        font-size:30px;

    }
    .navbar {
        position:relative;
        z-index:10;
    }


    .btn-bell-box {
        position:absolute;
        right:0;
        top:0;
        transform: translate(0,50px);
    }

    .my-3 {
        margin-left:auto;
        margin-right:auto;
        margin-top:-50px;
    }

     #menuContainer {
        background-color:white;
        padding:20px;
        border : 1px solid gray;
        max-height:300px;
          overflow-y: scroll;
          z-index:99;
    }






</style>
</html>

<script>




</script>