
    <div class="flex items-end justify-center ">

        <ul class="menu menu-horizontal bg-base-200 rounded-box content-end">
            <li class="group relative inline-block">
                <a href="/" title="메인" class="group-hover:opacity-100 flex items-center justify-center p-2 rounded-full bg-gray-200 hover:bg-gray-300">
                    <i class="fa-solid fa-house fa-xl text-gray-600"></i>
                </a>
            </li>

            <li class="group relative inline-block">
                <a href="/board/appealList" title="어필 게시판" class="group-hover:opacity-100 flex items-center justify-center p-2 rounded-full bg-gray-200 hover:bg-gray-300">
                    <i class="fa-solid fa-pen-to-square fa-xl text-gray-600"></i></a>
            </li>

            <li class="group relative inline-block">
                <a href="/user/transactions" title="하트" class="group-hover:opacity-100 flex items-center justify-center p-2 rounded-full bg-gray-200 hover:bg-gray-300">
                    <i class="fa-solid fa-heart fa-xl text-gray-600"></i>
                </a>
            </li>

            <li class="group relative inline-block">
                <a href="/chat/allRoom" title="채팅방" class="group-hover:opacity-100 flex items-center justify-center p-2 rounded-full bg-gray-200 hover:bg-gray-300">
                    <i class="fa-solid fa-comment fa-xl text-gray-600"></i>
                </a>
            </li>







            <li class="group relative inline-block">
                <a href="/user/myPage" title="마이 페이지" class="group-hover:opacity-100 flex items-center justify-center p-2 rounded-full bg-gray-200 hover:bg-gray-300">
                    <i class="fa-solid fa-user fa-xl text-gray-600"></i>
                </a>
            </li>
        </ul>
    </div>