<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container my-3">
    <div id="changePasswordContainer" style="margin-top:100px; margin-left:auto;margin-right:auto; width:50%;">
        <form id="changePasswordForm" onsubmit="return false;">
            <label for="currentPassword">현재 비밀번호</label>
            <input id=currentPassword name="currentPassword" type="password" placeholder="현재 비밀번호">
            <label for="newPassword1">새 비밀번호</label>
            <input id="newPassword1" name="newPassword1" type="password" placeholder="새 비밀번호" >
            <label for="newPassword2">새 비밀번호 확인</label>
            <input id="newPassword2" name="newPassword2" type="password" placeholder="새 비밀번호" >

            <button onclick="changePassword();">비밀번호 변경</button>
        </form>

    </div>


    <script>
        let currentPassword=$("#currentPassword");
        let newPassword1=$("#newPassword1");
        let newPassword2=$("#newPassword2");


        function changePassword(){
            if(currentPassword.val()==""){
                alert("현재 비밀번호를 입력해주세요");
                currentPassword.focus();
            }
            else if(newPassword1.val()==""){
                alert("새로운 비밀번호를 입력해주세요");
                newPassword1.focus();
            }
            else if(newPassword2.val()==""){
                alert("새로운 비밀번호 확인을 입력해주세요");
                newPassword2.focus();
            }
            else if(newPassword2.val() != newPassword1.val()){
                alert("새로운 비밀번호가 일치하지 않습니다.");
                newPassword1.focus();
            }
            else {

                const form = document.getElementById("changePasswordForm");
                  const params = {}
                new FormData(form).forEach((value, key) => params[key] = value.trim());

                let result= callApi("/user/changePassword" ,"patch",params);
                if(result.message=="success"){
                    alert("비밀번호가 변경되었습니다.");
                      location.reload();
                }else if(result.message=="fail"){
                    alert("현재 비밀번호가 틀렸습니다.");
                }
            }
        }


    </script>

</div>


</html>