<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with AI</title>
</head>
<body>

<form action="/chat/ask" method="post">
    <label for="question">Ask a question:</label>
    <input type="text" id="question2" name="question" required>
    <button type="submit">Ask</button>
</form>

<div th:if="${answer}">
    <p th:text="${answer}"></p>
</div>


<form action="/api/v1/chat-gpt" method="post">
    <label for="question">Ask a question:</label>
    <input type="text" id="question" name="question" required>
    <button type="submit">Ask</button>
</form>


</body>
</html>