<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/communication/write}" method="post">
    <label for="title">제목</label>
    <input name="title" id="title" type="text">
    <br>
    <div>내용</div>
    <textarea name="content" id="content" cols="30" rows="10">
    </textarea>
    <input type="submit" >
    <div>
        <span>음식점 위치가 이상하다 </span>
        <br>
        <span>음식점 업데이트가 필요하다</span>
        <br>
        <span>오류 수정이 필요하다</span>
        <br>
        <span> 등등 자유롭게 관리자에게 메시지를 보낼수 있습니다.</span>
    </div>
</form>
</body>
<script>


</script>
</html>