<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container my-3">

    <style>


    </style>

    <div id="likeStoreDetailContainer" style="margin-top:100px; margin-left:auto;margin-right:auto; width:30%;">
        <div id="groupName" style="font-size:xxx-large; text-align:center; margin-top:50px;" th:text="${groupName}"></div>
        <div id="nameContainer"  style=" margin-top:50px;" ></div>

        <div style="text-align:center; margin-top:20px;">
            <button style="" onclick="getRandomStore();" class="btn btn-info">
                <div >랜덤 음식점 추천</div>
            </button>
        </div>
    </div>



    <script>
        function displayComments(list) {
                                        const commentsContainer = document.getElementById('nameContainer');
                                       commentsContainer.innerHTML += `
                                           <div class="top-container" style="display:flex;">


                                           </div>

                                       `
                                            list.forEach(item => {
                                                  commentsContainer.innerHTML += `
                                                      <div class="comment">
                                                          <div> ${item}</div>
                                                      </div>
                                                  `;
                                              });

                 }

       let groupName = $("#groupName").text();

       let groupDetail = getJson("/likeStore/detail/"+groupName , null)

        displayComments(groupDetail);


    </script>

    <script>
        function getRandomStore(){
             let randomStore = getJson("/likeStore/random/"+groupName , null)

             alert("오늘은 " + randomStore +"에 가봐야겠다!!");
        }


    </script>




</div>

</html>