<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/content.css}" />
    <link rel="stylesheet" th:href="@{/css/button.css}" />
    <style>
        #login_box .signup_btn {background:#42d870; border:0; border-bottom:solid 3px #4ed177; border-radius:50px; width:100%; height:52px; line-height:52px; font-size:16px; color:#fff; text-align:center; margin:20px 0 15px;}
    </style>
</head>

<body>

<div id="login_wrap">
   
    <div id="login_box">
        <div class="login_con">
            <div class="login_tit">
                <h2>RM 프로젝트</h2>
                <p>LOG<i>IN</i></p>
            </div>

            <div class="login_input">
                <form id="loginForm" th:action="@{/user/login}" method="post" autocomplete="off">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            사용자ID 또는 비밀번호를 확인해 주세요.
                        </div>
                    </div>
                    <ul  sec:authorize="isAnonymous()" >
                        <li>
                            <label for="loginID" class="skip_info">아이디</label>
                            <input type="text" id="loginID" name="loginID" placeholder="아이디" title="아이디" />
                        </li>
                        <li >
                            <label for="password" class="skip_info">비밀번호</label>
                            <input type="password" id="password" name="userPw" title="비밀번호" placeholder="비밀번호" />
                        </li>
                    </ul>
                    <button type="submit"  sec:authorize="isAnonymous()" class="login_btn">로그인</button>
                    <a th:href="@{/user/logout}"><button class="signup_btn" type="button" sec:authorize="isAuthenticated()"   >
                        로그아웃</button></a>
                    <button type="button"  sec:authorize="isAnonymous()" onclick="openSignupPopup();" class="signup_btn">회원가입</button>
                    <a href="/"> <button type="button" sec:authorize="isAuthenticated()" class="signup_btn">
                       메인 페이지
                    </button></a>

                </form>
            </div>
        </div>
    </div>
</div>

<!--/* 회원가입 popup */-->
<div id="signupPopup" class="popLayer">
    <h3>회원가입</h3>
    <div class="pop_container">
        <form id="signupForm" onsubmit="return false;" autocomplete="off">

            <table class="tb tb_row tl">
                <colgroup>
                    <col style="width:30%;" /><col style="width:70%;" />
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">아이디<span class="es">필수 입력</span></th>
                    <td>
                        <input type="text" name="loginID" placeholder="아이디" maxlength="20" style="width: 80%;" />
                        <button type="button" id="idCheckBtn" class="btns btn_st5" onclick="checkLoginId();" style="width: 20%; float: right;">중복 확인</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">비밀번호<span class="es">필수 입력</span></th>
                    <td><input type="password" name="userPw" placeholder="비밀번호" maxlength="30" /></td>
                </tr>
                <tr>
                    <th scope="row">비밀번호 재입력<span class="es">필수 입력</span></th>
                    <td><input type="password" name="userPw" placeholder="비밀번호 재입력" maxlength="30" /></td>
                </tr>
                <tr>
                    <th scope="row">이름<span class="es">필수 입력</span></th>
                    <td><input type="text" name="userName" placeholder="이름" maxlength="10" /></td>
                </tr>
                <tr>
                    <th scope="row">이메일<span class="es">필수 입력</span></th>
                    <td><input type="email" name="email" placeholder="이메일" maxlength="30" /></td>
                    </td>
                </tr>

                </tbody>
            </table>
        </form>
        <p class="btn_set">
            <button type="button" class="btns btn_st2" onclick="saveMember();">가입</button>
            <button type="button" class="btns btn_bdr2" onclick="closeSignupPopup();">취소</button>
        </p>
    </div>
    <button type="button" class="btn_close" onclick="closeSignupPopup();"><span><i class="far fa-times-circle"></i></span></button>
</div>

<script th:src="@{/js/function.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
<script>

    // 회원가입 팝업 open
    function openSignupPopup() {
        layerPop('signupPopup')
    }


    // 회원가입 팝업 close
    function closeSignupPopup() {
        const form = document.getElementById('signupForm');
        form.loginID.readOnly = false;
        form.querySelector('#idCheckBtn').disabled = false;
        form.reset();
        layerPopClose();
    }


    // 아이디 중복 체크
    function checkLoginId() {
        const loginID = document.querySelector('#signupForm input[name="loginID"]');
        console.log(loginID.value+"!!!!!!!!!");
        isValid(loginID, '아이디');
        const count = getJson(`/user/siteUser-count`, { loginID : loginID.value });

        if (count > 0) {
            alert('이미 가입된 아이디가 있습니다.');
            loginID.focus();
            return false;
        }

        if (confirm('사용 가능한 아이디입니다.\n입력하신 아이디로 결정하시겠어요?')) {
            loginID.readOnly = true;
            document.getElementById('idCheckBtn').disabled = true;
        }
    }


    // 회원 정보 유효성 검사
    function validationMemberInfo(form) {

        const fields = form.querySelectorAll('input:not([type="radio"])');
        const fieldNames = ['아이디', '비밀번호', '비밀번호 재입력', '이름', '이메일'];

        for (let i = 0, len = fields.length; i < len; i++) {
            isValid(fields[i], fieldNames[i]);
        }

        if (form.loginID.readOnly === false) {
            alert('아이디 중복 체크를 완료해 주세요.');
            throw new Error();
        }

        if (form.userPw.value !== form.userPw.value) {
            alert('비밀번호가 일치하지 않습니다.');
            form.passwordCheck.focus();
            throw new Error();
        }
    }


    // 회원 정보 저장 (회원가입)
    function saveMember() {

        // 1. 필드 유효성 검사
        const form = document.getElementById('signupForm');
        validationMemberInfo(form);
        console.log(form);


        // 2. 파라미터 세팅
        const params = {}
        new FormData(form).forEach((value, key) => params[key] = value.trim());

         console.log(params);
        // 3. Save API 호출
        callApi('/user/signUp', 'post', params);
        alert('가입을 축하드립니다!\n로그인 후 서비스를 이용해 주세요.');
        closeSignupPopup();
    }

</script>
</body>
</html>