<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container my-3">


    <!--<head>-->

    <!--    <meta charset="UTF-8">-->
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">-->


    <!--    <title>간단한 지도 표시하기</title>-->
    <!--    <link rel="stylesheet" href="/css/map.css">-->
    <!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->

    <!--    <script th:inline="javascript">-->
    <!--        var openaiApiKey = /*[[${openaiApiKey}]]*/ 'defaultApiKey';-->
    <!--        // Now you can use 'openaiApiKey' in your JavaScript code-->
    <!--    </script>-->


    <!--</head>-->

    <div>adasdasdasd</div>




</div>
</html>