<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container my-3">


<!--<head>-->

<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">-->


<!--    <title>간단한 지도 표시하기</title>-->
<!--    <link rel="stylesheet" href="/css/map.css">-->
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->

<!--    <script th:inline="javascript">-->
<!--        var openaiApiKey = /*[[${openaiApiKey}]]*/ 'defaultApiKey';-->
<!--        // Now you can use 'openaiApiKey' in your JavaScript code-->
<!--    </script>-->


<!--</head>-->






<div id="map" style="width:100%;height:600px; margin-top:70px;">
    <div style="position: absolute; z-index: 100; margin: 0px; padding: 0px; pointer-events: none; left: 0px; bottom: 20px;">
        <div style="border: 0px none; margin: 0px; padding: 0px; pointer-events: none; float: left;">
            <a href="#" class="btn_mylct spr_trff spr_ico_mylct" onclick="goCurrentPosition();" style="pointer-events: auto;">
                현재 위치
            </a>


        </div>
        <br>
        <div>
        <a href="#" style="pointer-events: auto;" onclick="getFoodNearMap();">
            지도상 음식점 업데이트
        </a></div>
    </div>

    <div id="menuContainer"  style="position: absolute; z-index: 99;left: 20px; top: 20px;">

    </div>

    <div id="likePopup" class="popLayer">
        <button type="button" class="btn_close" onclick="closeSignupPopup();"><span><i class="far fa-times-circle"></i></span></button>

        <div>어떤 그룹에 저장하시겠습니까?</div>

        <input type="checkbox" id="option1" class="option-checkbox">
        <label for="option1">맛집</label><br>
        <input type="checkbox" id="option2" class="option-checkbox">
        <label for="option2">가보고 싶은 곳</label><br>
        <input type="checkbox" id="option3" class="option-checkbox">
        <label for="option3">기타</label><br>

        <div id="info"></div>
        <div onclick="submitLikeStore();">완료</div>


    </div>
</div>





<ul id="myList">

</ul>





<!--미리 현재 위치 위도 경도를 구해놔야지 그 정보를 서버에 보낼수 있어서 여기 적음-->
<script>
    var lat1="";
    var har1="";

    var options = {
              enableHighAccuracy: false,
              timeout: 5000,
              maximumAge: 0,
            };

    function success(pos) {
  var crd = pos.coords;
  lat1=crd.latitude;
  har1=crd.longitude;

  console.log("Your current position is:");
  console.log(`Latitude : ${crd.latitude}`);
  console.log(`Longitude: ${crd.longitude}`);
  console.log(`More or less ${crd.accuracy} meters.`);
//  update(crd.latitude,crd.longitude);




}

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
}
    navigator.geolocation.getCurrentPosition(success, error, options);


$(document).ready(function() {
    $('.option-checkbox').change(function() {
        // Clear previous information
        $('#info').empty();
                $('.option-checkbox').not(this).prop('checked', false);


        // Find the checked checkbox and get its label text
        var selectedOption = $('.option-checkbox:checked').next('label').text();

        // Display information about the selected option
        if (selectedOption) {
            $('#info').text(selectedOption + '번을 선택했습니다.');
        } else {
            $('#info').text('No option selected.');
        }
    });
});

function submitLikeStore(){
        if ($('.option-checkbox:checked').length === 0) {
            alert("그룹을 선택한 후에 완료를 해주세요");
            return;
        }
        var selectedOption = $('.option-checkbox:checked').next('label').text();
         let likeReturn =callApi("/like/store/"+storeID+"/"+selectedOption,'post',null);

         if(likeReturn.message=="중복"){
            alert("이미 이 그룹에는 저장해놓은 음식점입니다. ")
         }

    }


function closeSignupPopup(){
 $('.option-checkbox').not(this).prop('checked', false);
     layerPopClose();
}

</script>





<script src="/js/secret_key.js" ></script>

<!--<script src="/js/many_infor_test.js" async></script>-->

<script th:src="@{/js/function.js}"></script>
<!--<script src="/js/getCurrentPosition.js" async></script>-->


<!--<script src="/js/map_option.js"></script>-->



</div>

<style>


</style>
</html>