<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container my-3">


<!--<head>-->

<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">-->


<!--    <title>간단한 지도 표시하기</title>-->
<!--    <link rel="stylesheet" href="/css/map.css">-->
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->

<!--    <script th:inline="javascript">-->
<!--        var openaiApiKey = /*[[${openaiApiKey}]]*/ 'defaultApiKey';-->
<!--        // Now you can use 'openaiApiKey' in your JavaScript code-->
<!--    </script>-->


<!--</head>-->

    <style>
        body{
         overflow-y:hidden;
         //지도에 마진 탑을 줘서 아래로 쫌 스크롤바가 생김
         //그거 없앨려고 이거 추가
         // 혹시나 나중에 문제가 된다면 지도의 height 를 95 % 정도로 조정해야할듯
        }

        #map{
             position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 92%;
        }
        #menuContainer{
                     display:none;
                     position: absolute;
                     z-index: 4;
                     left: 0px; top: 0px;
                     height:100%;
                       background-color:white;
                     border : 1px solid gray;
                     overflow: auto;

        }

        #menuContainer::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .top-container{
            background-color:#258fff;
             color:white;
            padding:20px
        }

        .storeName {
            font-weight:bold;

        }
        .likeButton {
            margin-left:auto;
        }

        .comment{
            margin-left:10px;
            margin-right:10px;

        }

    </style>




    <div id="map" style="margin-top:70px;  position: absolute;">
        <div onclick="searchTapOpen()" style="position: absolute; z-index:100;top:0px; right:0px;">검색
            <div>
                <form  onsubmit="submitSearch(); return false;">
                    <input id="searchString" name="searchString" placeholder="음식점을 검색해보세요." type="text">
                </form>
            </div>
        </div>

        <div style="position: absolute; z-index: 100; margin: 0px; padding: 0px; pointer-events: none; right: 0px; top: 80px;">
            <div style="border: 0px none; margin: 0px; padding: 0px; pointer-events: none; float: left;">
                <a href="#" class="btn_mylct spr_trff spr_ico_mylct" onclick="goCurrentPosition();" style="pointer-events: auto;">
                    현재 위치
                </a>


            </div>
            <br>
            <div>
            <a href="#" style="pointer-events: auto;" onclick="getFoodNearMap();">
                지도상 음식점 업데이트
            </a></div>
        </div>
<!--        //메뉴 리스트 뜨는곳-->

            <div id="menuContainer"  style="">

            </div>



            <div id="likePopup" class="popLayer">
                <button type="button" class="btn_close" onclick="closeSignupPopup();"><span><i class="far fa-times-circle"></i></span></button>

                <div>이미 저장된 그룹을 선택하면 </div>
                   <div> 즐겨찾기에서 제거됩니다</div>

                <input type="checkbox" id="option1" class="option-checkbox">
                <label for="option1">맛집</label><br>
                <input type="checkbox" id="option2" class="option-checkbox">
                <label for="option2">가보고 싶은 곳</label><br>
                <input type="checkbox" id="option3" class="option-checkbox">
                <label for="option3">기타</label><br>

                <div id="info"></div>
                <div onclick="submitLikeStore();">완료</div>

            </div>


    </div>

        <div>
            <div  id="newsPopup" class="popLayer" style="display:none;">
                    <div>업데이트 소식 : 카카오 로그인 기능 추가</div>
                    <input id="newsPopupCheckBox" type="checkbox" name="cancel" >
                    <label for="newsPopupCheckBox">10초간 보지않기</label>
                    <button type="button" class="btn_close" onclick="closeNewsPopup();"><span><i class="far fa-times-circle"></i></span></button>

            </div>
        </div>


<!--메뉴 리스트-->
<!--<ul id="myList">-->

<!--</ul>-->

    <script>

   window.onload = function() {


       if(getJson("/newsCookies","").message=="true") {

           //이게 참이면 쿠키가 있으니 팝업창 안뛰움
       }
       else {
<!--                  layerPop('newsPopup');-->
                    $("#newsPopup").show();
       }

   };

        function searchTapOpen(){


        }

        function submitSearch(){
            let searchString=$("#searchString");
            let storeList=callApi("/search/foodData/"+searchString.val(),"post","");
            if(storeList.length==0){
                return;
            }else {
                 let infoWindows=[];
                update(storeList);

                 var location = new naver.maps.LatLng(storeList[0].latitude,
                                                 storeList[0].longitude);


                map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
                map.setZoom(19); // 지도의 줌 레벨을 변경합니다.
            }
        }
    </script>



<!--미리 현재 위치 위도 경도를 구해놔야지 그 정보를 서버에 보낼수 있어서 여기 적음-->
<script>
    var lat1="";
    var har1="";

    var options = {
              enableHighAccuracy: false,
              timeout: 5000,
              maximumAge: 0,
            };

    function success(pos) {
  var crd = pos.coords;
  lat1=crd.latitude;
  har1=crd.longitude;

  console.log("Your current position is:");
  console.log(`Latitude : ${crd.latitude}`);
  console.log(`Longitude: ${crd.longitude}`);
  console.log(`More or less ${crd.accuracy} meters.`);
//  update(crd.latitude,crd.longitude);




}

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
}
    navigator.geolocation.getCurrentPosition(success, error, options);


$(document).ready(function() {
    $('.option-checkbox').change(function() {
        // Clear previous information
        $('#info').empty();
                $('.option-checkbox').not(this).prop('checked', false);


        // Find the checked checkbox and get its label text
        var selectedOption = $('.option-checkbox:checked').next('label').text();



    });
});

function submitLikeStore(){
        if ($('.option-checkbox:checked').length === 0) {
            alert("그룹을 선택한 후에 완료를 해주세요");
            return;
        }
        var selectedOption = $('.option-checkbox:checked').next('label').text();
         let likeReturn =callApi("/like/store/"+storeID+"/"+selectedOption,'post',null);

         if(likeReturn.message=="삭제"){
            alert("그룹에서 삭제 되었습니다. ")
         }

          if(likeReturn.message=="success"){
            alert("그룹에 추가 되었습니다. ")
         }

           $("#option1").next("label").css('border', '');
        $("#option2").next("label").css('border', '');
        $("#option3").next("label").css('border', '');
          //getCurrentPoision.js 에 있는 함수 임
          let countEachGroupStore =getJson("/likeStore/count/groupName/"+storeID,"")

         countEachGroupStoreFunction(countEachGroupStore);

    }


function closeSignupPopup(){
 $('.option-checkbox').not(this).prop('checked', false);
        $("#option1").next("label").css('border', '');
        $("#option2").next("label").css('border', '');
        $("#option3").next("label").css('border', '');

     layerPopClose();
}


    function closeNewsPopup(){
                let checkBox=$("#newsPopupCheckBox");

               if(checkBox.prop('checked')){
                    callApi("/stop/newsPopup","post","");
               }
              $("#newsPopup").hide();


    }

</script>





<script src="/js/secret_key.js" ></script>

<!--<script src="/js/many_infor_test.js" async></script>-->

<script th:src="@{/js/function.js}"></script>
<!--<script src="/js/getCurrentPosition.js" async></script>-->


<!--<script src="/js/map_option.js"></script>-->



</div>


</html>