<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container my-3">
    <style>
        html, body {
      height: 100%;

  }
      #userInformation {
          border:1px solid #258fff;
          height:50%;
      }
      .userProfile{
          height:300px;
          border:1px solid red;
      }
        .changeContainer{
            height:100px
        }

    </style>

    <div id="userInformation" style="margin-top:100px; margin-left:auto;margin-right:auto; width:50%;">
        <div class="userProfile">
            <div class="avatar">
                <div class="w-24 rounded-full">
                    <img id="userProfileImg" />
                </div>
            </div>
            <form  action="/user/profileImg" method="post" enctype="multipart/form-data">
             <input type="file" accept="image/*"   name="file" id="fileInput" class="file-input file-input-bordered file-input-info w-full max-w-xs" />

            </form>
            <div th:text="${user.nickName}"></div>
            <div th:text="${user.email}"></div>
        </div>




        <div class="changeContainer" style="display:flex;">
            <a href="/user/changeInformation" style="margin-right:40px"><div>개인정보 수정</div></a>
            <a href="/user/changePassword"><div>비밀번호 변경</div></a>
        </div>

    </div>


    <script>
        function uploadFile(uri, file) {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var formData = new FormData();
        formData.append('file', file);

        return new Promise(function(resolve, reject) {
            var xhr = new XMLHttpRequest();
            xhr.open('PATCH', uri, true);
            xhr.setRequestHeader(header, token);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    resolve(xhr.response);
                } else {
                    reject(xhr.statusText);
                }
            };
            xhr.onerror = function() {
                reject(xhr.statusText);
            };
            xhr.send(formData);
        });
    }

    // 파일 선택이 변경되었을 때 호출되는 함수
    function handleFileSelect(event) {
        var file = event.target.files[0];
        var uri = '/user/profileImg'; // 업로드할 서버의 URI

        uploadFile(uri, file)
            .then(function(response) {
                console.log('File uploaded successfully:', response);
                let profileUrl=callApi("/user/profileImg","get","").imgUrl;
                $("#userProfileImg").attr("src", profileUrl);

            })
            .catch(function(error) {
                console.error('File upload failed:', error);
            });
    }

    // 파일 선택 input 요소에 change 이벤트 리스너 추가
    document.getElementById('fileInput').addEventListener('change', handleFileSelect);


     let profileUrl=callApi("/user/profileImg","get","").imgUrl;
        $("#userProfileImg").attr("src", profileUrl);

    </script>



<!--<script>-->
<!--    let groupList= getJson("/loginUser/groupName","");-->

<!--    console.log("Asdasd");-->
<!--    console.log(groupList);-->

<!--       const groupContainer = document.getElementById('groupContainer');-->
<!--                                         groupContainer.innerHTML = ''; //클릭될떄마다 메뉴는 초기화-->
<!--                                        groupContainer.innerHTML += `-->
<!--                                            <div class="top-container" style="display:flex;">-->


<!--                                            </div>-->

<!--                                        `-->
<!--                                             groupList.forEach(item => {-->
<!--                                                   groupContainer.innerHTML += `-->
<!--                                                       <div class="comment">-->
<!--                                                           <div> ${item}</div>-->
<!--                                                       </div>-->
<!--                                                   `;-->
<!--                                               });-->





<!--</script>-->


</div>


</html>