<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align:center;"><span>******업데이트 소식******</span></div>
<div>
    <span>  음식점 , 검색 탭 클릭시 열고 닫을 수 있음</span>
    <br>
    <span> 검색시 결과 목록 뜨게 수정</span>
    <br>
    <span>대전 이동 버튼, 주인장 추천 버튼 추가 </span>
</div>

<input id="newsPopupCheckBox" type="checkbox" name="cancel" >
<label for="newsPopupCheckBox">24시간 동안 열지 않기.</label>
<button type="button" class="btn_close" onclick="closeNewsPopup();"><span><i class="far fa-times-circle"></i></span></button>

</body>
</html>